body{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #06a3bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tagarela{
    background-color: #0e7690;
    width: 80%;
    font-size: 50px;
    padding: 10px auto;
    text-align: center;
    margin-bottom: 25px;
}

button{
    width: 200px;
    padding: 5px;
    margin: 0 5px;
}